h1,h2,h3,h4,h5,h6 {
	font-family: $spartan;
  color: black;
}
p,i {
  font-family: $lato;
  color: black;
}
#bio{
  margin-top:40px;
  .bio-header{
    hr {
      margin: 30px;
      background-color: $blue;
    }
  }
  .bio-content{
    p,i {
      display: inline-flex;
    }
  }
  .bio-footer {
    margin-top:20px;
    [class$="-icon"] {
      margin:5px;
      color: black;
      font-size:36px;
      &:hover {
        color: $blue;
      }
    }
  }
}
