// FIX: separate side-menu dependencies
#home {
  #nav-title {
    position: fixed;
    top:20px;
    left:0;
    right: 0;
    @media (min-width:768px) {
      top:50px;
    }
  }
  #nav-subtitle {
    position: fixed;
    top:55px;
    left:0;
    right: 0;
    letter-spacing: 2px;
    @media (min-width:768px) {
      letter-spacing: 4px;
      top:100px;
    }
  }
  a {
    .video-container {
      position: relative;
    }
    @media (min-width:768px) {
      .video-container {
        position: absolute;
        width: 50%;
        margin: 50px 0;
      }
      &:first-of-type {
        .video-container {
          left: 0;
        }
      }
      &:last-of-type {
        .video-container {
          right: 0;
        }
      }
    }
    video {
      height: auto;
      vertical-align: middle;
      width: 100%;
    }
    .overlay-desc {
      &:hover {
        background: rgba(100,149,237,0.69);
      }
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
      }
    }
  }
}