h1,h2,h3,h4,h5,h6 {
	font-family: $spartan;
  color: black;
}
p,i {
  font-family: $lato;
  color: black;
}
#bio{
  margin-top:100px;
  .bio-header{
    hr {
      margin: 20px 33%;
      background-color: cornflowerblue;
    }
  }
  .bio-content{
    p,i {
      display: inline-flex;
    }
  }
  .bio-footer {
    #github-icon {
      color: $nantucketRed;
      font-size:36px;
    }
  }
}
