// .scroll-arrow {
//   font-size: 50px;
//   color: $blue;
//   &:hover {
//     cursor: pointer;
//     color: $blue;
//   }
// }

// #splash-screen{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   padding:25px;
  // h1 {
  //   position: fixed;
  //   top: 15px;
  //   left:0;
  //   right: 0;
  //   text-align: center;
  // }
// }

#home {
  #nav-title {
    position: fixed;
    top:25px;
    left:0;
    right: 0;
    @media(max-width:767px){

    }
  }
  hr {
    background: lightgrey;
  }
  a {
    .video-container {
      position: relative;
    }
    @media(min-width:768px) {
      .video-container {
        position: absolute;
        width: 50%;
        margin: 50px 0;
      }
      &:first-of-type {
        .video-container {
          left: 0;
        }
      }
      &:last-of-type {
        .video-container {
          right: 0;
        }
      }
    }
    video {
      height: auto;
      vertical-align: middle;
      width: 100%;
    }
    .overlay-desc {
      &:hover {
        background: rgba(0,0,0,0.75);
        h1 {
          color: $blue;
        }
      }
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
      }
    }
  }
}