* {
	font-family: $nyc1970;
}


  #homepage-secondary-slide{
    padding-top: 20px;
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    h2{
      color:black;
    }
    .item-title {}
    .item-description {
      text-align: center;
      color: black;
      font-family: $avant; 
    }
    .portfolio-gif {
      height: auto;
      width: 100%;
    }
  }
  
  #homepage-primary-slide{
    background: white;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    #homepage-main-image{
      padding:40px;
    }
    #arrow-down-icon {
      font-size: 36px;
      color: black;
      position: fixed;
      bottom:50px;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  }
  .carousel-item {
    hr {
      width: 25%;
    }
  }
