h1,h2,h3,h4,h5,h6 {
	font-family: $spartan;
  color: black;
}
p,i {
  font-family: $lato;
  color: black;
}
#life{
  margin-top:80px;
  .life-header{
    h1 {
      margin-bottom: 0;
    }
    hr {
      background-color: $blue;
    }
  }
  .life-content{
    p,i {
      display: inline-flex;
    }
  }
  .life-footer {
    margin-top:20px;
    [class$="-icon"] {
      margin:5px;
      color: black;
      font-size:36px;
      &:hover {
        color: $blue;
      }
    }
  }
}