#work {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin-top:20px;
	.work-item-thumb {
		height:240px;
		border-radius:0;
		opacity: 0.69;
		border: none;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		.logo-thumb-img {
			margin-top:30px;
			padding:30px;
			max-height: 140px;
		}
	}
	.work-item-img {	}
}
#work-item-page-back-btn {
	position: relative;
	top: -80px;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	h1 > * {
		color: black;
		&:hover {
			color: black;
		}
	}
}