%main{ data: { init: 'header', load: 'header' } }
  #header.container-fluid
    .row.text-xs-center
      #nav___left.text-xs-left
        - if !params[:work_item].nil?
          = link_to :back do
            = icon('chevron-left')      
      #nav__middle.text-xs-center
        .col-xs-12
          %h2#nav-title matt elia
          %p#nav-subtitle.text-muted SOFTWARE DEVELOPER, NYC
      #nav__right.text-xs-right
        - if current_page?(work_path||life_path)
          #nav-icon
            %span
            %span
            %span
            %span