%main{ data: { init: 'header', load: 'header' } }
  #header
    .text-xs-right
      #nav-icon
        %span
        %span
        %span
        %span
  #menu
    .container-fluid
      .row.text-xs-center
        .col-xs-12
          %ul.list-unstyled
            %li
              = link_to 'bio', root_path, class: 'menu-link'
            %li
              = link_to 'work', work_path, class: 'menu-link'