%main{ data: { init: 'header', load: 'header' } }
  #header
    .container
      .row
        .col-xs-12.text-xs-center
          %img{:alt => "", :height => "50", :src => "//www.mebank.com.au/media/2084734/ME-logo-600px-white.jpg", :width => "50"}
     