#header {
	div[id^='nav__'] {
		position:absolute;
		top:0;
		margin:5px;
		z-index: 3000;
		> * , > * > * , > * > * > *  {
			font-size:36px;
			color: black;
			&:hover {
				color: $blue;
			}
		}
		&:first-of-type{
			left:10px;
		}
		&:nth-of-type(2) {
			left: 40%;
			right: 40%;
		}
		&:last-of-type{
			right:0;
		}
	}
  #nav-icon {
	  width: 40px;
	  height: 30px;
	  position: relative;
	  margin: 10px;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  float: right;
	  &:hover {
			> * {
				background: $blue;
			}
		}
		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: black;
			border-radius: 9px;
			opacity: 1;
			right: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 12px;
			}
			&:nth-child(3) {
				top: 12px;
			}
			&:nth-child(4) {
				top: 24px;
			}
		}
		&.open span {
			&:nth-child(1) {
				top: 18px;
				width: 0;
				left: 50%;
			}
			&:nth-child(2) {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 18px;
				width: 0;
				left: 50%;
			}
		}
	}
}

#menu {
	position: fixed;
	bottom:0;
	left:0;
	top:0;
	right:-110%;
	opacity: 0;
	z-index:1000;
	background: white;
	#menu-circle-link-wrapper {
    margin-top: 50px;
    @media(min-width: 600px) {
  		margin-top: 80px;
		}
    @media(min-width: 768px) {
    	margin-top:120px;
    }
    @media(min-width: 1024px) {
    	margin-top:150px;
    }
    a {
    	&:last-of-type {
	    	position: relative;
	    	top: 25px;
    	}
    }
	}
	.menu-link {
		font-family: $spartan;
		font-size:30px;
		color: black;
		text-decoration: none;
		margin:40px;
		position: relative;
    top: 200px;
		&:hover{
			color:$blue;
		}
	}
	.image-wrapper {
		position: relative;
		height: 250px;
		width: 250px;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
		}
		.image-overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(100,149,237,0);
			color: #fff;
			display: block;
			.content {
				position: absolute;
			  top: 46%;
			  left: 50%;
			  height: 20px;
			  width: 150px;
			  margin-top: -10px;
			  margin-left: -75px;
			  font-size:36px;
			  font-family: $spartan;
			}
		}
		&:hover {
			.image-overlay {
				background-color: rgba(100,149,237,0.69);
			}
		}
	}
	#power-off-icon {
	  font-size:40px;
	  position:fixed;
	  top:0;
	  left:0;
	  margin:10px;
    color: red;
	  &:hover {
    	color: firebrick;
	  	margin:9px;
    	font-size:43px;
	  }
	}
}