%main{ data: { init: 'home', load: 'home' } }
  / #splash-screen
  #home    
    .container-fluid
      .row.text-xs-center
        .col-xs-12
          %h2#nav-title matt elia
          %p#nav-subtitle.text-muted SOFTWARE DEVELOPER, NYC
      .row.text-xs-center.hidden-sm-down
        .col-md-2.offset-md-5
          %br
    = link_to bio_path do
      .video-container
        = video_tag("nature.mp4", "nature.mp4", :loop=>'true', :autoplay=>'false', id: "nature")
        .overlay-desc
          %h1 life
    = link_to work_path do
      .video-container
        = video_tag("nurture.mp4", "nurture.mp4", :loop=>'true', :autoplay=>'false', id: "nyc")
        .overlay-desc
          %h1 work