%main{ data: { init: 'home', load: 'home' } }
  #homepage
    .container-fluid
      - @homepage.each do |home| 
      - next if home.nil?
        .row.text-xs-center
          .col-xs-4.offset-xs-4
            %h1= home['title']
        .container-fluid
          .row.text-xs-center
            .col-xs-12    
              - main_img = home['images'].detect { |image| image['type'] == 'first' } 
              = image_tag main_img['src'], class: 'img-fluid', id: 'homepage-header-image' 
            .col-xs-12   
              - main_img = home['images'].detect { |image| image['type'] == 'second' } 
              = image_tag main_img['src'], class: 'img-fluid', id: 'homepage-header-image' 
            .col-xs-12   
              - main_img = home['images'].detect { |image| image['type'] == 'third' } 
              = image_tag main_img['src'], class: 'img-fluid', id: 'homepage-header-image' 
