%main{ data: { init: 'work', load: 'work' } }
  #work.container
    .row.text-xs-center
      - @portfolio.each do |item| 
      - next if item.nil?
        .col-lg-3.col-md-4.col-sm-6.col-xs-12{style: 'padding:4px;margin:0;'}
          .work-item-thumb.img-thumbnail
            / %h2.item-title= item['title']
            = link_to work_item_path(item['permalink']) do
              = image_tag ''+item['images']['src']+'', class: 'img-fluid logo-thumb-img'