%main{ data: { init: 'work', load: 'work' } }
  #work
    .container
      .row.text-xs-center
        - @portfolio.each do |item| 
        - next if item.nil?
          .col-lg-4.col-md-6.col-sm-12{style: 'padding:4px;margin:0;'}
            .work-item-thumb.img-thumbnail
              = link_to work_item_path(item['permalink']) do
                = image_tag ''+item['images']['src']+'', class: 'img-fluid logo-thumb-img'