/* Fonts */
$nyc1960: "NYC1960";
$nyc1970: "NYC1970";
$avant: "AvantMd";
$spartan: "Spartan";
$lato: "Lato";

$watermelon: #DB6379;
$blue: cornflowerblue;
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background: #121010;

$steps: 20;