@font-face {
  font-family: 'NYC1960';
  src: font-url('nyc1960.otf') format('opentype')
}
@font-face {
  font-family: 'NYC1970';
  src: font-url('nyc1970.otf') format('opentype')
}

@font-face {
  font-family: 'AvantMd';
  src: font-url('ITCAvantGardeStd-Md.otf') format('opentype')
}
