* {
  margin: 0;
  padding: 0;
}
html,body {
  background:  white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
}
#content {
  position: relative;
  z-index: 2000;
  top:90px;
  @media (min-width: 768px) {
    top:120px;
  }
}
hr {
  background: $blue;
}