* {
  margin: 0;
  padding: 0;
}
html,body {
  background:  white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
#content {
  position: relative;
  z-index: 2000;
  top:55px;
  @media(min-width: 768px) {
    top:65px;
  }
  // @media(min-width: 992px) {
  //   top:150px;
  // }
}