%main{ data: { init: 'bio', load: 'bio' } }
  #bio.container-fluid
    .row.text-xs-center
      .col-lg-4.offset-lg-4.col-xs-12
        .bio-header
          %h1 matthew elia
          %h6 software developer
          %hr
        .bio-content.text-xs-left
          %p based in new york city.
          %br
          %p 5+ years experience building web apps of all shapes and sizes for internationally recognized brands such as canon, subaru, and raymond james.
          %br
          %p currently most interested in building location-based + real-time applications.
        .bio-footer
          %a{ href: '//github.com/matthew-elia'}
            = icon('github', class: 'github-icon')
          %a{ href: '#'}
            = icon('envelope', class: 'envelope-icon')